world:
  type: scene_cfg
  template_path: object/DGN_2k/scene_cfg/**/floating/*.npy
  start: 0
  end: 5


robot_file: "dual_dummy_arm_shadow.yml"
robot_file_with_arm: "dual_dummy_arm_shadow.yml"

base_cfg_file: "base_grasp.yml"
particle_file: "particle_grasp_debug.yml"
gradient_file: "gradient_grasp_fc.yml"

exp_name: 'debug'
seed_num: 20
seeder_cfg:
  obj_sample:
    num: 128
    inflate: 0.1
    convex_hull: True
    collision_free: True 
  ik_init_q:
  load_path: 
  skip_transfer: False
  t:  
  r:  
  q: [ 0, 0, 0, 0, 0, 0, # ra 
       0, 1.2, 0, -0.2, 0, -0.1, 0.3, 0., 0., 0, 0.3, 0., 0., -0.1, 0.3, 0., 0., 0, -0.2, 0.3, 0., 0., # rh
       0, 0, 0, 0, 0, 0, # la
       0, 1.2, 0, -0.2, 0, -0.1, 0.3, 0., 0., 0, 0.3, 0., 0., -0.1, 0.3, 0., 0., 0, -0.2, 0.3, 0., 0.] # lh
       # must match the joint order in curobo
       # hand qpos order: TH, FF, MF, RF, LF
  jitter_angle: [[-180, -15, -15], [180, 15, 15]]
  jitter_dist: [[0.0, -0.03, -0.03], [0.03, 0.03, 0.03]]
  # jitter_angle: [[-1, -1, -1], [1, 1, 1]]
  # jitter_dist: [[0.0, -0.001, -0.001], [0.001, 0.001, 0.001]]

grasp_contact_strategy:
  contact_points_name: ['rh_ffdistal/2', 'rh_mfdistal/2', 'rh_rfdistal/2', 'rh_lfdistal/2', 'rh_thdistal/1',
                        'lh_ffdistal/2', 'lh_mfdistal/2', 'lh_rfdistal/2', 'lh_lfdistal/2', 'lh_thdistal/1']
  # contact_points_name: ['rh_ffdistal/1', 'rh_mfdistal/1', 'rh_rfdistal/1', 'rh_lfdistal/1', 'rh_thdistal/0',
  #                       'lh_ffdistal/1', 'lh_mfdistal/1', 'lh_rfdistal/1', 'lh_lfdistal/1', 'lh_thdistal/0']
  contact_normals:
    # norminal contact normals for each contact point defined in the robot contact link
    # should point inward the object surface
    [
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
      [0, -1, 0],
    ]

  # for contact stages during the optimization
  opt_progress: [0.0, 0.4, 0.6, 0.8]
  distance: [0.0, 0.0, 0.0, 0.01] # the last stage is for pre-grasp
  contact_query_mode: [-1, -1, 0, 0]
  save_qpos: [False, False, True] # not used
  pregrasp_stage: 3 # the last step of this stage will be used as the pre-grasp pose
  grasp_stage: 2 # the last step of this stage will be used as the grasp pose
  max_ge_stage: 1

grasp_cfg:
  task_dict:
    f: [0, 0, 1]
    p: [0, 0, 0]
    t: [0, 0, 0]
    gamma: 180
  ge_param:
    type: 'qp'
    miu_coef: [0.1, 0]
    solver_type: 'batch_reluqp'
    k_lower: 0.2
    groups: # groups of finger indices for multi-finger force closure
      [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]]
    weights: [0.33, 0.33, 0.33] # len(weights) should be the same as len(groups), sum=1
    multi_ge_type: "concate" # 'concate' or 'sum'
    pressure_constraints:   # [contact_id_list, lower, upper]
      [
        [[0, 1, 2, 3, 4], 1.0, 5.0],
        [[0, 1, 2], 0.4, 3.0], 
        [[4], 0.5, 1.0], 
        [[5, 6, 7, 8, 9], 1.0, 5.0],
        [[5, 6, 7], 0.4, 3.0], 
        [[9], 0.5, 1.0], 
      ]
    enable_density: False
    solve_interval: 5


# Replace the configurations in gradient_grasp_fc.yml
gradient: 
  cost:
    grasp_cfg: 
      weight: [
                [100, 1000, 0, 0.1],
                [1, 1000, 0, 0.01],
                [0, 1000, 100, 0.001],
                [0, 1000, 100, 0.0],
              ] # grasp loss, dist loss, regu loss, normal loss for each contact stage
  lbfgs:
    n_iters: 500
    inner_iters: 50
    base_scale:  # learning rate for translation, rotation, and qpose for each contact stage
      [
        [0.1, 1.0, 0.1],
        [0.07, 0.7, 0.07],
        [0.07, 0.07, 0.07],
        [0.0, 0.0, 0.05]
      ]

mogen_init: [0.4227, -1.5991, -1.8872, -3.0432, -0.9848,  3.2433,  0.1738, -0.2078, 0,0,0,0,0, 0,0,0,0, 0,0,0,0, 0,0,0,0, 0,0,0,0,0]